# NTP client
type = process
log-type = buffer
command = /usr/libexec/dinit-dm chronyd /usr/bin/chronyd -n -u chrony
smooth-recovery = true
depends-on: local.target
after: network.target
