# D-Bus system message bus
type = process
log-type = buffer
command = /usr/libexec/dinit-dbus
ready-notification = pipefd:3
smooth-recovery = true
depends-on: local.target
before: login.target
