# gdm display manager
type = process
command = /usr/libexec/dinit-dm gdm /usr/bin/gdm
smooth-recovery = true
depends-on: dbus
depends-on: elogind
depends-on: login.target
