# OpenSSH daemon
type = process
log-type = buffer
command = /usr/bin/sshd -D
smooth-recovery = true
depends-on: ssh-keygen
depends-on: local.target
after: network.target
